/CO_reg_daily_EUS.nc
/CO_reg_daily_Eur.nc
/CO_reg_daily_MidE.nc
/CO_reg_daily_NAt.nc
/CO_reg_daily_NEAs.nc
/CO_reg_daily_Sib.nc
/CO_reg_daily_WMed.nc
/CO_reg_daily_WNAm.nc
/O3_reg_daily_EUS.nc
/O3_reg_daily_Eur.nc
/O3_reg_daily_MidE.nc
/O3_reg_daily_NAt.nc
/O3_reg_daily_NEAs.nc
/O3_reg_daily_Sib.nc
/O3_reg_daily_WMed.nc
/O3_reg_daily_WNAm.nc
