/CO_reg_monthly_EUS.nc
/CO_reg_monthly_Eur.nc
/CO_reg_monthly_MidE.nc
/CO_reg_monthly_NAt.nc
/CO_reg_monthly_NEAs.nc
/CO_reg_monthly_Sib.nc
/CO_reg_monthly_WMed.nc
/CO_reg_monthly_WNAm.nc
/O3_reg_monthly_EUS.nc
/O3_reg_monthly_Eur.nc
/O3_reg_monthly_MidE.nc
/O3_reg_monthly_NAt.nc
/O3_reg_monthly_NEAs.nc
/O3_reg_monthly_Sib.nc
/O3_reg_monthly_WMed.nc
/O3_reg_monthly_WNAm.nc
